<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaT1Application"
        tools:targetApi="31">
        <activity
            android:name=".t_future.GenerTestMainActivity"
            android:exported="false" />
        <activity
            android:name=".t_executorService.example.ExecutorService3Activity"
            android:exported="false" />
        <activity
            android:name=".t_executorService.ExecutorService2Activity"
            android:exported="false" />
        <activity
            android:name=".t_executorService.ExecutorServiceActivity"
            android:exported="false" />
        <activity
            android:name=".t_handler2_claude.MainHandlerActivity"
            android:exported="false" />
        <activity
            android:name=".t_askcode.AscMainActivity"
            android:exported="false" />
        <activity
            android:name=".t_ms_calculrate.MsCalculrateMainActivity"
            android:exported="false" />
        <activity
            android:name=".t_buttonclolor.ButtonColorMainActivity"
            android:exported="false" />
        <activity
            android:name=".t_threadhandler2.ThreadHandlerTest3Activity"
            android:exported="false" />
        <activity
            android:name=".t_threadhandler.ProgressThreadHandlerActivity"
            android:exported="false" />
        <activity
            android:name=".t_threadhandler.ThreadHandlerTest1Activity"
            android:exported="false" />
        <activity
            android:name=".t_interface2_handler.InterHandlerActivity"
            android:exported="false" />
        <activity
            android:name=".t_interface.InterfaceActivity"
            android:exported="false" />
        <activity
            android:name=".t_handler.TwoThread.TwoThreadHandlerActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".t_handler.HandlerTestActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".t_xmlpasing.XmlCompareActivity"
            android:exported="false" />
        <activity
            android:name=".clicklistener.CompoundButtonActivity"
            android:exported="false" />
        <activity
            android:name=".clicklistener.ActivityImplementsActivity"
            android:exported="false" />
        <activity
            android:name=".clicklistener.click3.ClickListener3Activity"
            android:exported="false" />
        <activity
            android:name=".clicklistener.ClickListener2Activity"
            android:exported="false" />
        <activity
            android:name=".clicklistener.ClickListenerActivity"
            android:exported="false" />
        <activity
            android:name=".clicklistener.ImplementsListenerActivity"
            android:exported="false" />
        <activity
            android:name=".t_btnArray.BtnArrayActivity"
            android:exported="false" />
        <activity
            android:name=".t_mvp.View.MvpActivity"
            android:exported="false" />
        <activity
            android:name=".t_buttomEvent.ButtonEventActivity"
            android:exported="false" />
        <activity
            android:name=".t_thread.ThreadActivity"
            android:exported="false" />
        <activity
            android:name=".t_spinner.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".t_static.StaticActivity"
            android:exported="false" />
        <activity
            android:name=".t_enum.EnumActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>